kybernan/cD9AOYpxNXPlrKl1.json
{
  "updatedAt": "2025-12-08T02:39:54.662Z",
  "createdAt": "2025-12-08T00:17:12.407Z",
  "id": "cD9AOYpxNXPlrKl1",
  "name": "Arquiva Boletos Loop",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "hF9yxdAPWHZWy2CV",
          "mode": "list",
          "cachedResultName": "CODIGO DE BARRAS",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/hF9yxdAPWHZWy2CV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idPasta": "={{ $('idPastaDia').item.json.id }}",
            "codBarras": "={{ $('Loop Over Items').item.json.CODIGO_BARRAS }}",
            "nomeArquivo": "={{ $('Loop Over Items').item.json.NOME_ARQUIVO }} - COMPROVANTE (ARQUIVADO POR IA)"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "codBarras",
              "displayName": "codBarras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "idPasta",
              "displayName": "idPasta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nomeArquivo",
              "displayName": "nomeArquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        6144,
        592
      ],
      "id": "26532152-493d-46c4-9345-7580e4d24544",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('HH:mm') }}",
            "CLIENTE": "={{ $('Start').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "={{ $('Loop Over Items').item.json.ANO }} -> {{ $('Loop Over Items').item.json.MES }} -> {{ $('Loop Over Items').item.json.DATA }}",
            "LINK ARQUIVO": "=https://drive.google.com/file/d/{{ $json.id }}/view",
            "TIPO DE ARQUIVO": "BOLETO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5920,
        576
      ],
      "id": "ed9b4517-7767-41b4-9602-6956668c6dae",
      "name": "log arquivos1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Loop Over Items').item.json.MES }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('idPastaAno').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4640,
        544
      ],
      "id": "b8bd4d4c-b653-4c16-9ef5-2808536dd22c",
      "name": "Cria Pasta Mes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Loop Over Items').item.json.ANO }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('encontraControle').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3776,
        528
      ],
      "id": "5acd9ed9-27bb-4396-9e1b-554940bd1a73",
      "name": "Cria Pasta Ano",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Loop Over Items').item.json.DATA }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('idPastaMes').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5536,
        528
      ],
      "id": "b511ab3a-9edd-471e-a693-897f33f00381",
      "name": "Cria Pasta Dia",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name contains 'controle'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.Folder }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3056,
        368
      ],
      "id": "7288f54b-101a-47c9-8c92-38005813c165",
      "name": "encontraControle",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('Loop Over Items').item.json.ANO }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3344,
        368
      ],
      "id": "a83bd865-f0b3-4592-b765-90424dd8b369",
      "name": "encontraAno",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3616,
        368
      ],
      "id": "036454ae-d3fc-4ee1-916b-8d1c047f9638",
      "name": "PastaDiaExiste?2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('Loop Over Items').item.json.MES }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4208,
        352
      ],
      "id": "63b143aa-9d5a-41c1-9f3b-e749c16a1670",
      "name": "encontraMês",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4496,
        352
      ],
      "id": "d585e58b-5637-4ecc-af2a-1ed8f99866fc",
      "name": "PastaDiaExiste?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbdfcb0e-b11a-4cb9-ae83-00547a243bf0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3920,
        352
      ],
      "id": "5fa71fde-da89-4c8d-ae7c-d6416a6e1517",
      "name": "idPastaAno"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2736,
        352
      ],
      "id": "af41894a-e84e-4e45-b04c-0d5a1147e854",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('Loop Over Items').item.json.DATA }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5040,
        336
      ],
      "id": "163697c2-7261-42ea-b487-6c963a5b05e5",
      "name": "encontraDia",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5328,
        336
      ],
      "id": "cce7d4c9-00e2-47a1-9571-5fe4675dbfee",
      "name": "PastaDiaExiste?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbdfcb0e-b11a-4cb9-ae83-00547a243bf0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4768,
        336
      ],
      "id": "0a9a9088-44bc-4860-b70d-94417b846ee7",
      "name": "idPastaMes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbdfcb0e-b11a-4cb9-ae83-00547a243bf0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5664,
        336
      ],
      "id": "5581deac-20a3-4fca-b7d0-5d3e5318240a",
      "name": "idPastaDia"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Start').item.json.id }}",
          "mode": "id"
        },
        "name": "={{ $('Loop Over Items').item.json.NOME_ARQUIVO }} (ARQUIVADO POR IA)",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5904,
        320
      ],
      "id": "06462904-6a46-4c7c-a310-24d70fbe78b0",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3040,
        64
      ],
      "id": "d0391e02-d3b5-4f3e-a6cf-2a8c95a921b1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "NomeGrupo",
              "type": "any"
            },
            {
              "name": "id",
              "type": "any"
            }
          ]
        }
      },
      "id": "f7072b0b-877f-4afd-8f17-e2e17f712ba0",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2528,
        352
      ]
    }
  ],
  "connections": {
    "encontraControle": {
      "main": [
        [
          {
            "node": "encontraAno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraAno": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraMês": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraDia": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?": {
      "main": [
        [
          {
            "node": "idPastaDia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Pasta Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?1": {
      "main": [
        [
          {
            "node": "idPastaMes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Pasta Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?2": {
      "main": [
        [
          {
            "node": "idPastaAno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Pasta Ano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Ano": {
      "main": [
        [
          {
            "node": "idPastaAno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Mes": {
      "main": [
        [
          {
            "node": "idPastaMes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Dia": {
      "main": [
        [
          {
            "node": "idPastaDia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "idPastaAno": {
      "main": [
        [
          {
            "node": "encontraMês",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "idPastaMes": {
      "main": [
        [
          {
            "node": "encontraDia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "encontraControle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log arquivos1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "log arquivos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "idPastaDia": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8572fb6c-f99e-40f2-a666-04a881d3ee06",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-08T00:17:12.407Z",
      "createdAt": "2025-12-08T00:17:12.407Z",
      "role": "workflow:owner",
      "workflowId": "cD9AOYpxNXPlrKl1",
      "projectId": "72MghKyBe7pL4bex"
    }
  ],
  "activeVersion": null,
  "tags": []
}