kybernan/xbiM1JT5KjJBCrxu.json
{
  "updatedAt": "2025-12-01T23:29:24.504Z",
  "createdAt": "2025-11-26T10:17:15.840Z",
  "id": "xbiM1JT5KjJBCrxu",
  "name": "PRINCIPAL - ARQUIVADOR",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6ff257a0-6494-492b-af31-5214a9bd20a1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3888,
        160
      ],
      "id": "02e65664-256c-4dbb-9aca-7f8cb2fe9832",
      "name": "Webhook",
      "webhookId": "6ff257a0-6494-492b-af31-5214a9bd20a1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16ffaaef-fe33-426d-a0ff-e2dac2b106e9",
              "leftValue": "={{ $json.body.message.isGroup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3344,
        160
      ],
      "id": "27f5f0f3-677b-404d-b04a-fd415490c8e0",
      "name": "isGroup",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d8f7b82-de27-4f28-afe4-9f073754da5b",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "ExtendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExtendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e75be5f-38f7-4db9-8ebe-c2f0e4580de1",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "=Conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "AudioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9de78c4-def0-4385-92ae-f3d8db4668ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AudioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dc571f3-1d8c-4784-8cfa-d29f807666f7",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "ImageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ImageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a88511a-7a3c-442d-bad5-fc9aa48d5a18",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "DocumentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DocumentMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1232,
        192
      ],
      "id": "271e1181-ddcd-4143-a6a6-79e35c53c17b",
      "name": "tipoMsg"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "IdGroup",
              "keyValue": "={{ $json.body.message.chatid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3104,
        48
      ],
      "id": "e7150fda-84b5-4a1d-ace4-d2d974f070a7",
      "name": "ExisteGrupoTabela False",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "IdGroup",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.chatid }}"
            },
            {
              "keyName": "phone1",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.sender_pn }}"
            },
            {
              "keyName": "phone2",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.sender_pn }}"
            },
            {
              "keyName": "phone3",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.sender_pn }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3104,
        256
      ],
      "id": "c4e81850-1e79-4f18-89b6-c46f34c3aaa3",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdGroup": "={{ $('Dados de Entrada').item.json.body.message.chatid }}",
            "NomeGrupo": "={{ $('Dados de Entrada').item.json.Nome }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NomeGrupo",
              "displayName": "NomeGrupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdGroup",
              "displayName": "IdGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone1",
              "displayName": "phone1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone2",
              "displayName": "phone2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone3",
              "displayName": "phone3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Folder",
              "displayName": "Folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apiERP",
              "displayName": "apiERP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ERP",
              "displayName": "ERP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2912,
        48
      ],
      "id": "fbb4a44a-71e6-4f63-a7f9-95e9c4c308e6",
      "name": "Insere Novo Row"
    },
    {
      "parameters": {
        "content": "## BANCO DE DADOS\n\ntratamento de BD para identificar usuário e pasta correta, etc..\n",
        "height": 480,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3184,
        -64
      ],
      "id": "e2b4180f-4460-443c-a34d-979ffd64ab8b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d48431-6205-4d71-9d24-346dfe880a25",
              "name": "IdGroup",
              "value": "={{ $json.IdGroup }}",
              "type": "string"
            },
            {
              "id": "46b09227-842e-44df-95f7-4819cc47f958",
              "name": "phone1",
              "value": "={{ $json.phone1 }}",
              "type": "string"
            },
            {
              "id": "91d9c47f-3e9a-4344-86e6-f5124490957f",
              "name": "phone2",
              "value": "={{ $json.phone2 }}",
              "type": "string"
            },
            {
              "id": "0c9bc12c-ca1e-4f6c-ba7b-c33a6fa84fe6",
              "name": "phone3",
              "value": "={{ $json.phone3 }}",
              "type": "string"
            },
            {
              "id": "4b1803fd-3a6e-463d-b63e-8b37605cdc9e",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a8310a6c-4a6f-4151-878f-edf87ef8f06e",
              "name": "Folder",
              "value": "={{ $json.Folder }}",
              "type": "string"
            },
            {
              "id": "f6f759e7-b7cf-4081-93d3-362cf3b2ffd8",
              "name": "apiERP",
              "value": "={{ $json.apiERP }}",
              "type": "string"
            },
            {
              "id": "61b97bff-04e1-4870-8c6e-0286ac545ed1",
              "name": "ERP",
              "value": "={{ $json.ERP }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        256
      ],
      "id": "c7008e17-9448-4747-8b4e-a3e3692e6e56",
      "name": "DADOS USUÁRIO"
    },
    {
      "parameters": {
        "content": "## BUFFER PIX TEXTO E IMAGEM\n",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -768,
        16
      ],
      "id": "06543081-c9e4-49d2-a117-5877a2ea7524",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## FALLBACK PERGUNTANDO ONDE ARQUIVAR QUANDO DER PROBLEMA\n\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        192
      ],
      "id": "2c0078d6-d8f4-41c1-9c93-ba1f7b772383",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "name": "={{ $('AI Agent').item.json.output.NOME_ARQUIVO }} (ARQUIVADO POR IA)",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "ocrLanguage": "pt-BR"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2896,
        112
      ],
      "id": "0c40d983-5d6b-49c9-8008-77dae0f542bc",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name contains 'controle'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Merge1').item.json.Folder }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        432
      ],
      "id": "7288f54b-101a-47c9-8c92-38005813c165",
      "name": "encontraControle",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('AI Agent').item.json.output.ANO }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        432
      ],
      "id": "a83bd865-f0b3-4592-b765-90424dd8b369",
      "name": "encontraAno",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('AI Agent').item.json.output.MES }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        416
      ],
      "id": "63b143aa-9d5a-41c1-9f3b-e749c16a1670",
      "name": "encontraMês",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('AI Agent').item.json.output.DATA }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        400
      ],
      "id": "163697c2-7261-42ea-b487-6c963a5b05e5",
      "name": "encontraDia",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        192
      ],
      "id": "cce7d4c9-00e2-47a1-9571-5fe4675dbfee",
      "name": "PastaDiaExiste?"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1056,
        1760
      ],
      "id": "1d71cb53-dd9b-475e-9230-5a186ec0a31d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kybernan.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Dados de Entrada').item.json.body.message.messageid }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            },
            {
              "name": "generate_mp3",
              "value": "false"
            },
            {
              "name": "transcribe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1824,
        656
      ],
      "id": "023fa18a-cac6-4e2a-8dc2-78bd53dc51be",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64Data",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1616,
        656
      ],
      "id": "2351b7f9-ae4d-456f-a70d-6c9e8c67460b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kybernan.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Dados de Entrada').item.json.body.message.messageid }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            },
            {
              "name": "generate_mp3",
              "value": "false"
            },
            {
              "name": "transcribe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2176,
        1104
      ],
      "id": "da62ecd9-2e16-42b7-b050-ef61e44eb982",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64Data",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1936,
        1104
      ],
      "id": "f548f8d3-b350-4c20-a701-1b74efd7c4ff",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "aPagar",
              "description": "BOLETOS, IMPOSTOS, GUIAS, FGTS, DARE,ETC "
            },
            {
              "category": "notaFiscal",
              "description": "NOTA FISCAL E CUPOM FISCAL"
            },
            {
              "category": "holerites",
              "description": "HOLERITES "
            },
            {
              "category": "recibos",
              "description": "RECIBOS"
            },
            {
              "category": "comprovantePagamento",
              "description": "comprovante de pagamento de boletos"
            },
            {
              "category": "cheque",
              "description": "CHEQUE "
            },
            {
              "category": "comprovantePixTransferencia",
              "description": "comprovante de transferência ou pix"
            },
            {
              "category": "pedidoDeCompra",
              "description": "Pedido de compra"
            }
          ]
        },
        "options": {
          "multiClass": false,
          "fallback": "other",
          "systemPromptTemplate": "=Atue como um classificador de documentos financeiros. Analise o texto e defina a categoria correta entre as opções: {categories}.\n\nRegras de diferenciação estrita:\n1. Se for uma cobrança ou boleto (dívida aberta), use \"aPagar\".\n2. Se for prova de pagamento de boleto, use \"comprovantePagamento\".\n3. Se for transferência bancária (Pix/TED), use \"comprovantePixTransferencia\".",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -48,
        1216
      ],
      "id": "9e05b0c8-d3f2-49a0-a84c-bace19459f3e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        1648
      ],
      "id": "3beb4822-f5df-4b4d-841d-6041c9035b66",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fRrIyxCKgTlReSWb",
          "name": "Kybernan-Arquivador"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc623d92-90a9-4c53-a977-960b80305e27",
              "name": "text",
              "value": "={{ $json.text || $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        1440
      ],
      "id": "4ba8a991-1a84-40c6-aacd-10b6f73f032b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ilovepdf.com/v1/auth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "public_key",
              "value": "project_public_6e99f304b7b0f32194a219829ae0da16_1TjZUf8d65af7f20c2bb97ef86ef511d10f50"
            },
            {
              "name": "secret_key",
              "value": "secret_key_2b4e29231feda1bacf76a575828fdba7_8l_xca3740dd3253a8b56bbc5e54cd6c1664f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2176,
        1760
      ],
      "id": "7c480619-edba-46d5-adfa-a4d7ca0f9012",
      "name": "Gerar JWT"
    },
    {
      "parameters": {
        "url": "https://api.ilovepdf.com/v1/start/pdfocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        1760
      ],
      "id": "a159f4c6-0a56-4f85-a6d1-10b8dcad4f12",
      "name": "CriaTarefaOcr"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.server }}/v1/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gerar JWT').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "={{ $json.task }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        1760
      ],
      "id": "feb10a82-73c9-4f41-a429-449f70cc61d7",
      "name": "UploadPdf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('CriaTarefaOcr').item.json.server }}/v1/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gerar JWT').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task\": \"{{ $('CriaTarefaOcr').item.json.task }}\",\n  \"tool\": \"pdfocr\",\n  \"files\": [\n    {\n      \"server_filename\": \"{{ $json.server_filename }}\",\n      \"filename\": \"file\"\n    }\n  ],\n  \"ocr_languages\": [\n    \"por\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        1760
      ],
      "id": "7b36388b-33ab-4225-997e-aff2a0bf4970",
      "name": "ProcessPdfToOcr"
    },
    {
      "parameters": {
        "url": "=https://{{ $('CriaTarefaOcr').item.json.server }}/v1/download/{{ $('CriaTarefaOcr').item.json.task }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gerar JWT').item.json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        1760
      ],
      "id": "3b4dec12-071f-4d72-83b9-701d00d7286e",
      "name": "DownloadPdfOcr"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1744,
        1760
      ],
      "id": "25116963-8a16-4f85-b974-b481173f9cee",
      "name": "Merge"
    },
    {
      "parameters": {
        "name": "arquivo",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1kNfMrXJtz3jlu9lXqhDxa1nXuLa4b0v0",
          "mode": "list",
          "cachedResultName": "ARQUIVOS RECEBIDOS KYBERNAN TESTE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kNfMrXJtz3jlu9lXqhDxa1nXuLa4b0v0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        1248
      ],
      "id": "9bc951fe-d887-4954-b199-363c66a2d85b",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Analise o texto financeiro fornecido e extraia os dados para retornar EXATAMENTE o seguinte JSON:\n\n{\n  \"DATA\": \"Dia com 2 dígitos (DD)\",\n  \"MES\": \"Mês abreviado em maiúsculo (JAN, FEV, MAR, ABR, MAI, JUN, JUL, AGO, SET, OUT, NOV, DEZ)\",\n  \"ANO\": \"Ano com 4 dígitos (AAAA)\",\n  \"NOME_ARQUIVO\": \"DIA.MÊS - NOME_DO_FORNECEDOR\",\n  \"CODIGO_BARRAS\": \"número completo exato do código só números\"\n}\n\nRegras:\n1. Em \"NOME_ARQUIVO\", use o número do mês (ex: 01, 02) e o nome da empresa que irá receber os valores, ou seja, nome do beneficiário em maiúsculo.\n2. Priorize a data de VENCIMENTO encontrada.\n3. Não inclua markdown, apenas o JSON puro.\n4. Exemplo para NOME_ARQUIVO: \"10.11 - ALIBRA\" (Sendo 10 o DIA e 11 o MÊS numérico)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        464,
        432
      ],
      "id": "fee0a4a4-dc7a-4c9d-8313-2cb40fef7eb0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        624
      ],
      "id": "2eebaf89-ee86-4e10-afb7-6fd57143d3d4",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "fRrIyxCKgTlReSWb",
          "name": "Kybernan-Arquivador"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"DATA\": \"Dia com 2 dígitos (DD)\",\n  \"MES\": \"Mês abreviado em maiúsculo (JAN, FEV, MAR, ABR, MAI, JUN, JUL, AGO, SET, OUT, NOV, DEZ)\",\n  \"ANO\": \"Ano com 4 dígitos (AAAA)\",\n  \"NOME_ARQUIVO\": \"DD.MM NOME_DO_FORNECEDOR\",\n  \"CODIGO_BARRAS\": \"número completo exato do código só números\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        608
      ],
      "id": "918eadd9-256b-4061-b8cc-0061a3cd26cb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        1312
      ],
      "id": "c4438367-3efd-4b04-ae7a-a1dd06e1d31f",
      "name": "Merge1",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2672,
        112
      ],
      "id": "18268f31-e329-4f86-907f-665adb0975e3",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2176,
        1552
      ],
      "id": "feeecb04-34b4-4e4a-b886-013d8a5c4fce",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75f8e189-a085-4dad-9650-bc8f10936fc0",
              "leftValue": "={{ Number($json.text.length) }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1936,
        1552
      ],
      "id": "04f93ae5-335a-4881-b2b2-74007cddfc3d",
      "name": "Menos que 10 caracteres"
    },
    {
      "parameters": {
        "content": "## TRATA IMAGENS\n",
        "height": 384,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1888,
        576
      ],
      "id": "6bd77148-c4c2-4a94-9b49-c1bd6853e36f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TRATA PDF\n",
        "height": 864,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        1056
      ],
      "id": "cf0601c3-5907-4c0e-9954-259d4d99133f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6a152ef-f1f0-47ca-bd32-db9737dff1ae",
              "leftValue": "={{ $json.Folder }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1856,
        256
      ],
      "id": "4d4f66fe-732f-4ec1-ba67-e849af83f79b",
      "name": "temPasta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        416
      ],
      "id": "d585e58b-5637-4ecc-af2a-1ed8f99866fc",
      "name": "PastaDiaExiste?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        432
      ],
      "id": "036454ae-d3fc-4ee1-916b-8d1c047f9638",
      "name": "PastaDiaExiste?2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0250d2a-d792-4061-a12e-e16b7a22cb47",
              "name": "Nome",
              "value": "={{ $json.body.chat.name }}",
              "type": "string"
            },
            {
              "id": "ad1db2aa-736d-4164-9683-87654e150161",
              "name": "body.message.senderName",
              "value": "={{ $json.body.message.senderName }}",
              "type": "string"
            },
            {
              "id": "9c67e34d-811b-4ff2-87ad-6075a508463b",
              "name": "TipoDeMensagem",
              "value": "={{ $json.body.message.messageType }}",
              "type": "string"
            },
            {
              "id": "cb9a1539-beeb-407b-a17d-23985944eed0",
              "name": "body.message.content.URL",
              "value": "={{ $json.body.message.content.URL }}",
              "type": "string"
            },
            {
              "id": "1d589f28-545f-455a-995b-15fe80092f32",
              "name": "body.message.isGroup",
              "value": "={{ $json.body.message.isGroup }}",
              "type": "boolean"
            },
            {
              "id": "2fcecf85-6540-41a7-987f-bd25c45a5a8f",
              "name": "body.message.sender_pn",
              "value": "={{ $json.body.message.sender_pn ? $json.body.message.sender_pn.replace(/[^0-9]/g, '').slice(2) : null }}",
              "type": "string"
            },
            {
              "id": "2d522b05-d083-432a-af3e-292a2baf080a",
              "name": "body.message.text",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "4159e7cd-a733-47b5-8a3d-0786c19be8cd",
              "name": "body.message.chatid",
              "value": "={{ $json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "b9b4a916-acb6-4032-be80-0bdd78b1033f",
              "name": "body.message.messageid",
              "value": "={{ $json.body.message.messageid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3632,
        160
      ],
      "id": "58174c50-92b5-4c4d-98bc-9adaa7f9448b",
      "name": "Dados de Entrada"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('AI Agent').item.json.output.ANO }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('encontraControle').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1184,
        656
      ],
      "id": "5acd9ed9-27bb-4396-9e1b-554940bd1a73",
      "name": "Cria Pasta Ano",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('AI Agent').item.json.output.MES }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('encontraAno').item.json.id || $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1568,
        656
      ],
      "id": "b8bd4d4c-b653-4c16-9ef5-2808536dd22c",
      "name": "Cria Pasta Mes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('AI Agent').item.json.output.DATA }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('encontraMês').item.json.id || $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        432
      ],
      "id": "b511ab3a-9edd-471e-a693-897f33f00381",
      "name": "Cria Pasta Dia",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ (new Date()).toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' }).replace(/\\//g, '.') }} - {{ $('Dados de Entrada').item.json.Nome }} - (SALVADO POR IA)",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=12JepBiCyidTjZknzUgb8yVOFHZF-Q6Ro",
          "mode": "id"
        },
        "options": {
          "ocrLanguage": "pt-BR"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        752,
        1168
      ],
      "id": "a2852f48-e5a1-457a-8ca9-6a2351a72c2e",
      "name": "Upload file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        1168
      ],
      "id": "92d8fa18-ac23-483c-a33d-e1c12722f99a",
      "name": "Merge3"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "contas",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "contas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3856,
        240
      ],
      "id": "db1f1a8e-16ef-48e1-b2ab-a017c9ea4629",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Move file').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "contas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "NOME ARQUIVO",
              "displayName": "NOME ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CÓD BARRAS",
              "displayName": "CÓD BARRAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4560,
        96
      ],
      "id": "fc7bf97d-988c-4ff7-9923-bc72d7a7cc8b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3433974b-1343-4e6c-a7c6-2ca24f3ea7f8",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3568,
        112
      ],
      "id": "b639cb6e-648a-4b72-a40d-3e11aab89d28",
      "name": "JÁ EXISTE PLANILHA?"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains 'contas'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Merge2').item.json.id }}",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3264,
        112
      ],
      "id": "384c26f1-2168-4937-baa8-ba49918157f5",
      "name": "Encontra Sheet",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Merge2').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4080,
        240
      ],
      "id": "0b2e1c97-9d0c-4679-982f-44e119ab1cbf",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25395053-48a8-4cd3-82fa-d047711b9767",
              "name": "NOME ARQUIVO",
              "value": "={{ $('AI Agent').item.json.output.NOME_ARQUIVO }}",
              "type": "string"
            },
            {
              "id": "f8f3f6fb-e386-4992-a445-35d528095369",
              "name": "CÓD BARRAS",
              "value": "={{ $('AI Agent').item.json.output.CODIGO_BARRAS }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        96
      ],
      "id": "9c6da1fd-3a53-43f7-bf4a-1b138047f886",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "TIPO DE ARQUIVO": "NOTA FISCAL",
            "CAMINHO QUE FOI SALVO": "=PASTA DE NOTAS FISCAIS",
            "LINK ARQUIVO": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        1168
      ],
      "id": "663cb474-45c6-4261-9f2c-a58136864172",
      "name": "log arquivos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "={{ $('Get row(s)').item.json.NomeGrupo }} / {{ $('AI Agent').item.json.output.ANO }} / {{ $('AI Agent').item.json.output.MES }} / {{ $('AI Agent').item.json.output.DATA }}",
            "LINK ARQUIVO": "={{ $('Upload file').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "BOLETO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5008,
        96
      ],
      "id": "56786945-e8f5-4980-b066-efc94e45c0da",
      "name": "log arquivos1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "=ARQUIVOS RECEBIDOS KYBERNAN",
            "LINK ARQUIVO": "={{ $('Upload file2').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "PEDIDO COMPRA"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        2176
      ],
      "id": "a788e0f5-192b-469f-8839-d77e39419903",
      "name": "PEDIDO COMPRA",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "=ARQUIVOS RECEBIDOS KYBERNAN",
            "LINK ARQUIVO": "={{ $('Upload file2').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "HOLERITES"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        1344
      ],
      "id": "bec0d12d-bb21-4e3a-827f-96a9d72e2783",
      "name": "HOLERITES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "=ARQUIVOS RECEBIDOS KYBERNAN",
            "LINK ARQUIVO": "={{ $('Upload file2').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "RECIBOS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        1504
      ],
      "id": "4f58faf7-9116-4eaf-9a0b-d2908cc31675",
      "name": "RECIBOS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "=ARQUIVOS RECEBIDOS KYBERNAN",
            "LINK ARQUIVO": "={{ $('Upload file2').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "COMPROVANTE PAGAMENTO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        1664
      ],
      "id": "0128b1d7-95e2-4dd8-be43-f97c951e6e64",
      "name": "COMPROVANTE PAGAMENTO",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "=ARQUIVOS RECEBIDOS KYBERNAN",
            "LINK ARQUIVO": "={{ $('Upload file2').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "CHEQUES"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        1840
      ],
      "id": "f6e8c582-1a4d-4cbd-a7f4-d5b8f73075f6",
      "name": "CHEQUES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "=ARQUIVOS RECEBIDOS KYBERNAN",
            "LINK ARQUIVO": "={{ $('Upload file2').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "TRANSFERENCIA PIX"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        2000
      ],
      "id": "3eef9de4-a311-4090-b780-1e642fca1f2f",
      "name": "TRANSFERENCIA PIX",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ",
          "mode": "list",
          "cachedResultName": "LOG ARQUIVOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-MrdPnHE7cmjj_D7spbWq2u0CkatoBgCqvja3aHv4BQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATA": "={{ $today.format('dd-MM-yyyy') }}",
            "HORA": "={{ $now.format('hh:mm') }}",
            "CLIENTE": "={{ $('Get row(s)').item.json.NomeGrupo }}",
            "CAMINHO QUE FOI SALVO": "=ARQUIVOS RECEBIDOS KYBERNAN",
            "LINK ARQUIVO": "={{ $('Upload file2').item.json.webViewLink }}",
            "TIPO DE ARQUIVO": "OUTROS"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLIENTE",
              "displayName": "CLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TIPO DE ARQUIVO",
              "displayName": "TIPO DE ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LINK ARQUIVO",
              "displayName": "LINK ARQUIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAMINHO QUE FOI SALVO",
              "displayName": "CAMINHO QUE FOI SALVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        2336
      ],
      "id": "1a0c29e1-8240-41e5-a7e4-f0979f4eac02",
      "name": "OUTROS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwb992tcodcaklq5",
          "name": "KyberTech"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ca53349-4a2f-410c-9b0f-d37dbd8379fa",
              "leftValue": "={{ $('HTTP Request3').item.json.mimetype }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2176,
        1312
      ],
      "id": "7fc622cc-02c9-4fc9-86a5-fea2e1727f78",
      "name": "excel?"
    },
    {
      "parameters": {
        "pdfName": "arquivo"
      },
      "type": "n8n-nodes-pdfkit.pdfKit",
      "typeVersion": 1,
      "position": [
        -1392,
        816
      ],
      "id": "6920d41b-fb84-4bc1-8f96-63476949304e",
      "name": "PDFKit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kybernan_gotenberg:3000/forms/libreoffice/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "landscape",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "addOriginalDocumentAsStream",
              "value": "false"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1936,
        1344
      ],
      "id": "12dbefd1-fc95-4c90-ab02-8190e4689e18",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isGroup": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "ExisteGrupoTabela False",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipoMsg": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExisteGrupoTabela False": {
      "main": [
        [
          {
            "node": "Insere Novo Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere Novo Row": {
      "main": [
        [
          {
            "node": "DADOS USUÁRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "DADOS USUÁRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "encontraControle": {
      "main": [
        [
          {
            "node": "encontraAno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraAno": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraMês": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraDia": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Cria Pasta Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          },
          {
            "node": "PDFKit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          },
          {
            "node": "excel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Gerar JWT": {
      "main": [
        [
          {
            "node": "CriaTarefaOcr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadPdf": {
      "main": [
        [
          {
            "node": "ProcessPdfToOcr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessPdfToOcr": {
      "main": [
        [
          {
            "node": "DownloadPdfOcr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaTarefaOcr": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "UploadPdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadPdfOcr": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "HOLERITES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RECIBOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COMPROVANTE PAGAMENTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CHEQUES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSFERENCIA PIX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PEDIDO COMPRA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OUTROS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "encontraControle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS USUÁRIO": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "temPasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Menos que 10 caracteres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menos que 10 caracteres": {
      "main": [
        [
          {
            "node": "Gerar JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "temPasta": {
      "main": [
        [
          {
            "node": "tipoMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?1": {
      "main": [
        [
          {
            "node": "encontraDia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Pasta Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?2": {
      "main": [
        [
          {
            "node": "encontraMês",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Pasta Ano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados de Entrada": {
      "main": [
        [
          {
            "node": "isGroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Ano": {
      "main": [
        [
          {
            "node": "Cria Pasta Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Mes": {
      "main": [
        [
          {
            "node": "Cria Pasta Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Dia": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JÁ EXISTE PLANILHA?": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontra Sheet": {
      "main": [
        [
          {
            "node": "JÁ EXISTE PLANILHA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file3": {
      "main": [
        [
          {
            "node": "log arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "log arquivos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "excel?": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFKit": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kybernan-n8n-webhook.qdidmr.easypanel.host",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2965",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "187.45.178.254",
            "x-forwarded-host": "kybernan-n8n-webhook.qdidmr.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c907cab5af03",
            "x-real-ip": "187.45.178.254"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://kybernan.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "r4aab3f5a8100ea",
              "image": "",
              "imagePreview": "",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "CAMPSUI - BPO/KY",
              "owner": "5519995586796",
              "phone": "",
              "wa_archived": false,
              "wa_chatid": "120363420394007891@g.us",
              "wa_contactName": "",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "5519995586796:120363420394007891",
              "wa_isBlocked": false,
              "wa_isGroup": true,
              "wa_isGroup_admin": true,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": true,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "192281424482510:40@lid",
              "wa_lastMessageTextVote": "",
              "wa_lastMessageType": "DocumentMessage",
              "wa_lastMsgTimestamp": 1764607163000,
              "wa_muteEndTime": 0,
              "wa_name": "CAMPSUI - BPO/KY",
              "wa_unreadCount": 103
            },
            "instanceName": "CelKybernan",
            "message": {
              "buttonOrListid": "",
              "chatid": "120363420394007891@g.us",
              "content": {
                "URL": "https://mmg.whatsapp.net/v/t62.7119-24/546066665_1915821662704219_7935350127498221826_n.enc?ccb=11-4&oh=01_Q5Aa3AFe2E1Ofpv0-Gfn3nbR9HVYPgSP-akBOOtgU9FYOm9UmQ&oe=69553308&_nc_sid=5e03e0&mms3=true",
                "mimetype": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "title": "A PAGAR EM 02-12.xlsx",
                "fileSHA256": "LmpeTC8K1JtuaUjVjmaF97XZ3q08+hHDIjSMWb5KzBk=",
                "fileLength": 14285,
                "mediaKey": "HGv1+9H1CylPIFdeQzb9havjnMnjTa2vB+YgYQmLN3M=",
                "fileName": "A PAGAR EM 02-12.xlsx",
                "fileEncSHA256": "ANL6u5c+JOXk2Bv1wTR+sYim6Pgjn6ixSH/FJ/leo9E=",
                "directPath": "/v/t62.7119-24/546066665_1915821662704219_7935350127498221826_n.enc?ccb=11-4&oh=01_Q5Aa3AFe2E1Ofpv0-Gfn3nbR9HVYPgSP-akBOOtgU9FYOm9UmQ&oe=69553308&_nc_sid=5e03e0",
                "mediaKeyTimestamp": 1764607161,
                "contactVcard": false
              },
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "CAMPSUI - BPO/KY",
              "id": "5519995586796:3EB0F8FB67E1C49F370788",
              "isGroup": true,
              "mediaType": "document",
              "messageTimestamp": 1764607163000,
              "messageType": "DocumentMessage",
              "messageid": "3EB0F8FB67E1C49F370788",
              "owner": "5519995586796",
              "quoted": "",
              "reaction": "",
              "sender": "192281424482510:40@lid",
              "senderName": "Solange Coimbra",
              "sender_lid": "192281424482510@lid",
              "sender_pn": "5519981260772@s.whatsapp.net",
              "source": "web",
              "status": "",
              "text": "",
              "track_id": "",
              "track_source": "",
              "type": "media",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "5519995586796",
            "token": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
          },
          "webhookUrl": "https://kybernan-n8n-webhook.qdidmr.easypanel.host/webhook/6ff257a0-6494-492b-af31-5214a9bd20a1",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "7f2d85a4-8724-4694-ba41-249b22b9ae16",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-26T10:17:15.840Z",
      "createdAt": "2025-11-26T10:17:15.840Z",
      "role": "workflow:owner",
      "workflowId": "xbiM1JT5KjJBCrxu",
      "projectId": "72MghKyBe7pL4bex"
    }
  ],
  "tags": []
}