kybernan/xbiM1JT5KjJBCrxu.json
{
  "updatedAt": "2025-11-28T17:30:50.802Z",
  "createdAt": "2025-11-26T10:17:15.840Z",
  "id": "xbiM1JT5KjJBCrxu",
  "name": "PRINCIPAL - ARQUIVADOR",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6ff257a0-6494-492b-af31-5214a9bd20a1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1840,
        -640
      ],
      "id": "02e65664-256c-4dbb-9aca-7f8cb2fe9832",
      "name": "Webhook",
      "webhookId": "6ff257a0-6494-492b-af31-5214a9bd20a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kybernan.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Dados de Entrada').item.json.body.message.messageid }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            },
            {
              "name": "generate_mp3",
              "value": "false"
            },
            {
              "name": "transcribe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        240
      ],
      "id": "6a7c8b26-557d-4f4c-b34c-749d0138b3ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64Data",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -544,
        240
      ],
      "id": "605d6c75-c61b-4cd4-a142-6f8b7a00fbae",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16ffaaef-fe33-426d-a0ff-e2dac2b106e9",
              "leftValue": "={{ $json.body.message.isGroup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        -640
      ],
      "id": "27f5f0f3-677b-404d-b04a-fd415490c8e0",
      "name": "isGroup",
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d8f7b82-de27-4f28-afe4-9f073754da5b",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "ExtendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExtendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e75be5f-38f7-4db9-8ebe-c2f0e4580de1",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "=Conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "AudioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9de78c4-def0-4385-92ae-f3d8db4668ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AudioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dc571f3-1d8c-4784-8cfa-d29f807666f7",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "ImageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ImageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a88511a-7a3c-442d-bad5-fc9aa48d5a18",
                    "leftValue": "={{ $('Dados de Entrada').item.json.TipoDeMensagem }}",
                    "rightValue": "DocumentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DocumentMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1232,
        192
      ],
      "id": "271e1181-ddcd-4143-a6a6-79e35c53c17b",
      "name": "tipoMsg"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "IdGroup",
              "keyValue": "={{ $json.body.message.chatid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1056,
        -752
      ],
      "id": "e7150fda-84b5-4a1d-ace4-d2d974f070a7",
      "name": "ExisteGrupoTabela False",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "IdGroup",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.chatid }}"
            },
            {
              "keyName": "phone1",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.sender_pn }}"
            },
            {
              "keyName": "phone2",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.sender_pn }}"
            },
            {
              "keyName": "phone3",
              "keyValue": "={{ $('Dados de Entrada').item.json.body.message.sender_pn }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1056,
        -544
      ],
      "id": "c4e81850-1e79-4f18-89b6-c46f34c3aaa3",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdGroup": "={{ $('Dados de Entrada').item.json.body.message.chatid }}",
            "NomeGrupo": "={{ $('Dados de Entrada').item.json.Nome }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NomeGrupo",
              "displayName": "NomeGrupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdGroup",
              "displayName": "IdGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone1",
              "displayName": "phone1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone2",
              "displayName": "phone2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone3",
              "displayName": "phone3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Folder",
              "displayName": "Folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apiERP",
              "displayName": "apiERP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ERP",
              "displayName": "ERP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -864,
        -752
      ],
      "id": "fbb4a44a-71e6-4f63-a7f9-95e9c4c308e6",
      "name": "Insere Novo Row"
    },
    {
      "parameters": {
        "content": "## BANCO DE DADOS\n\ntratamento de BD para identificar usuário e pasta correta, etc..\n",
        "height": 480,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        -864
      ],
      "id": "e2b4180f-4460-443c-a34d-979ffd64ab8b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d48431-6205-4d71-9d24-346dfe880a25",
              "name": "IdGroup",
              "value": "={{ $json.IdGroup }}",
              "type": "string"
            },
            {
              "id": "46b09227-842e-44df-95f7-4819cc47f958",
              "name": "phone1",
              "value": "={{ $json.phone1 }}",
              "type": "string"
            },
            {
              "id": "91d9c47f-3e9a-4344-86e6-f5124490957f",
              "name": "phone2",
              "value": "={{ $json.phone2 }}",
              "type": "string"
            },
            {
              "id": "0c9bc12c-ca1e-4f6c-ba7b-c33a6fa84fe6",
              "name": "phone3",
              "value": "={{ $json.phone3 }}",
              "type": "string"
            },
            {
              "id": "4b1803fd-3a6e-463d-b63e-8b37605cdc9e",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a8310a6c-4a6f-4151-878f-edf87ef8f06e",
              "name": "Folder",
              "value": "={{ $json.Folder }}",
              "type": "string"
            },
            {
              "id": "f6f759e7-b7cf-4081-93d3-362cf3b2ffd8",
              "name": "apiERP",
              "value": "={{ $json.apiERP }}",
              "type": "string"
            },
            {
              "id": "61b97bff-04e1-4870-8c6e-0286ac545ed1",
              "name": "ERP",
              "value": "={{ $json.ERP }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -544
      ],
      "id": "c7008e17-9448-4747-8b4e-a3e3692e6e56",
      "name": "DADOS USUÁRIO"
    },
    {
      "parameters": {
        "content": "## BUFFER PIX TEXTO E IMAGEM\n",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -704
      ],
      "id": "06543081-c9e4-49d2-a117-5877a2ea7524",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## FALLBACK PERGUNTANDO ONDE ARQUIVAR QUANDO DER PROBLEMA\n\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        -528
      ],
      "id": "2c0078d6-d8f4-41c1-9c93-ba1f7b772383",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "name": "=não-pagar-teste-automação-IGNORAR - {{ $('AI Agent').item.json.output.NOME_ARQUIVO }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "ocrLanguage": "pt-BR"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3296,
        112
      ],
      "id": "0c40d983-5d6b-49c9-8008-77dae0f542bc",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "name contains 'controle'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Merge1').item.json.Folder }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1232,
        448
      ],
      "id": "7288f54b-101a-47c9-8c92-38005813c165",
      "name": "encontraControle",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('AI Agent').item.json.output.ANO }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        448
      ],
      "id": "a83bd865-f0b3-4592-b765-90424dd8b369",
      "name": "encontraAno",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('AI Agent').item.json.output.MES }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1792,
        432
      ],
      "id": "63b143aa-9d5a-41c1-9f3b-e749c16a1670",
      "name": "encontraMês",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name contains '{{ $('AI Agent').item.json.output.DATA }}'",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2288,
        416
      ],
      "id": "163697c2-7261-42ea-b487-6c963a5b05e5",
      "name": "encontraDia",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2672,
        208
      ],
      "id": "cce7d4c9-00e2-47a1-9571-5fe4675dbfee",
      "name": "PastaDiaExiste?"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=O que é nesta imagem?\n\nPreciso que me explique em detalhes e organizado, transcrevendo tudo.\n\nNa maioria das vezes estará recebendo documentos financeiros.\n\nSEMPRE quando houver data de vencimento, vocês precisa informar a data de vencimento\n\nSe for boleto obrigatório informar a data de VENCIMENTO, neste caso não preciso saber a data de documento nem de processamento, apenas a de vencimento e outras informações.\n\nNunca invente informações, apenas envie informações verdadeiras que estão na imagem\n\nPrecisa ter certeza absoluta da data que irá enviar de vencimento, nunca confundir dia, mês e ano, exemplo está escrito 2025 e você enviar 2023, isso jamais poderá acontecer",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1344,
        768
      ],
      "id": "192d29ae-293e-4daa-83c0-8b2c1ba178d7",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "fRrIyxCKgTlReSWb",
          "name": "Kybernan-Arquivador"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -960,
        1536
      ],
      "id": "1d71cb53-dd9b-475e-9230-5a186ec0a31d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kybernan.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Dados de Entrada').item.json.body.message.messageid }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            },
            {
              "name": "generate_mp3",
              "value": "false"
            },
            {
              "name": "transcribe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1840,
        768
      ],
      "id": "023fa18a-cac6-4e2a-8dc2-78bd53dc51be",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64Data",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1584,
        768
      ],
      "id": "2351b7f9-ae4d-456f-a70d-6c9e8c67460b",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kybernan.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Dados de Entrada').item.json.body.message.messageid }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            },
            {
              "name": "generate_mp3",
              "value": "false"
            },
            {
              "name": "transcribe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2128,
        1104
      ],
      "id": "da62ecd9-2e16-42b7-b050-ef61e44eb982",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64Data",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1872,
        1104
      ],
      "id": "f548f8d3-b350-4c20-a701-1b74efd7c4ff",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "aPagar",
              "description": "BOLETOS, IMPOSTOS, GUIAS, FGTS, DARE,ETC "
            },
            {
              "category": "notaFiscal",
              "description": "NOTA FISCAL E CUPOM FISCAL"
            },
            {
              "category": "holerites",
              "description": "HOLERITES "
            },
            {
              "category": "recibos",
              "description": "RECIBOS"
            },
            {
              "category": "comprovantePagamento",
              "description": "comprovante de pagamento de boletos"
            },
            {
              "category": "cheque",
              "description": "CHEQUE "
            },
            {
              "category": "comprovantePixTransferencia",
              "description": "comprovante de transferência ou pix"
            },
            {
              "category": "pedidoDeCompra",
              "description": "Pedido de compra"
            }
          ]
        },
        "options": {
          "multiClass": false,
          "fallback": "other",
          "systemPromptTemplate": "=Atue como um classificador de documentos financeiros. Analise o texto e defina a categoria correta entre as opções: {categories}.\n\nRegras de diferenciação estrita:\n1. Se for uma cobrança ou boleto (dívida aberta), use \"aPagar\".\n2. Se for prova de pagamento de boleto, use \"comprovantePagamento\".\n3. Se for transferência bancária (Pix/TED), use \"comprovantePixTransferencia\".",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        352,
        1232
      ],
      "id": "9e05b0c8-d3f2-49a0-a84c-bace19459f3e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        1664
      ],
      "id": "3beb4822-f5df-4b4d-841d-6041c9035b66",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fRrIyxCKgTlReSWb",
          "name": "Kybernan-Arquivador"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc623d92-90a9-4c53-a977-960b80305e27",
              "name": "text",
              "value": "={{ $json.text || $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1152
      ],
      "id": "4ba8a991-1a84-40c6-aacd-10b6f73f032b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ilovepdf.com/v1/auth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "public_key",
              "value": "project_public_6e99f304b7b0f32194a219829ae0da16_1TjZUf8d65af7f20c2bb97ef86ef511d10f50"
            },
            {
              "name": "secret_key",
              "value": "secret_key_2b4e29231feda1bacf76a575828fdba7_8l_xca3740dd3253a8b56bbc5e54cd6c1664f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2080,
        1536
      ],
      "id": "7c480619-edba-46d5-adfa-a4d7ca0f9012",
      "name": "Gerar JWT"
    },
    {
      "parameters": {
        "url": "https://api.ilovepdf.com/v1/start/pdfocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1888,
        1536
      ],
      "id": "a159f4c6-0a56-4f85-a6d1-10b8dcad4f12",
      "name": "CriaTarefaOcr"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.server }}/v1/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gerar JWT').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "={{ $json.task }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        1536
      ],
      "id": "feb10a82-73c9-4f41-a429-449f70cc61d7",
      "name": "UploadPdf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('CriaTarefaOcr').item.json.server }}/v1/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gerar JWT').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task\": \"{{ $('CriaTarefaOcr').item.json.task }}\",\n  \"tool\": \"pdfocr\",\n  \"files\": [\n    {\n      \"server_filename\": \"{{ $json.server_filename }}\",\n      \"filename\": \"file\"\n    }\n  ],\n  \"ocr_languages\": [\n    \"por\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1264,
        1536
      ],
      "id": "7b36388b-33ab-4225-997e-aff2a0bf4970",
      "name": "ProcessPdfToOcr"
    },
    {
      "parameters": {
        "url": "=https://{{ $('CriaTarefaOcr').item.json.server }}/v1/download/{{ $('CriaTarefaOcr').item.json.task }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Gerar JWT').item.json.token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        1536
      ],
      "id": "3b4dec12-071f-4d72-83b9-701d00d7286e",
      "name": "DownloadPdfOcr"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1648,
        1536
      ],
      "id": "25116963-8a16-4f85-b974-b481173f9cee",
      "name": "Merge"
    },
    {
      "parameters": {
        "name": "arquivo",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1kNfMrXJtz3jlu9lXqhDxa1nXuLa4b0v0",
          "mode": "list",
          "cachedResultName": "ARQUIVOS RECEBIDOS KYBERNAN TESTE",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kNfMrXJtz3jlu9lXqhDxa1nXuLa4b0v0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1216,
        1328
      ],
      "id": "9bc951fe-d887-4954-b199-363c66a2d85b",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Analise o texto financeiro fornecido e extraia os dados para retornar EXATAMENTE o seguinte JSON:\n\n{\n  \"DATA\": \"Dia com 2 dígitos (DD)\",\n  \"MES\": \"Mês abreviado em maiúsculo (JAN, FEV, MAR, ABR, MAI, JUN, JUL, AGO, SET, OUT, NOV, DEZ)\",\n  \"ANO\": \"Ano com 4 dígitos (AAAA)\",\n  \"NOME_ARQUIVO\": \"DIA.MÊS - NOME_DO_FORNECEDOR\"\n}\n\nRegras:\n1. Em \"NOME_ARQUIVO\", use o número do mês (ex: 01, 02) e o nome da empresa que irá receber os valores, ou seja, nome do beneficiário em maiúsculo.\n2. Priorize a data de VENCIMENTO encontrada.\n3. Não inclua markdown, apenas o JSON puro.\n4. Exemplo para NOME_ARQUIVO: \"10.11 - ALIBRA\" (Sendo 10 o DIA e 11 o MÊS numérico)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        864,
        448
      ],
      "id": "fee0a4a4-dc7a-4c9d-8313-2cb40fef7eb0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        640
      ],
      "id": "2eebaf89-ee86-4e10-afb7-6fd57143d3d4",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "fRrIyxCKgTlReSWb",
          "name": "Kybernan-Arquivador"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"DATA\": \"Dia com 2 dígitos (DD)\",\n  \"MES\": \"Mês abreviado em maiúsculo (JAN, FEV, MAR, ABR, MAI, JUN, JUL, AGO, SET, OUT, NOV, DEZ)\",\n  \"ANO\": \"Ano com 4 dígitos (AAAA)\",\n  \"NOME_ARQUIVO\": \"DD.MM NOME_DO_FORNECEDOR\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1056,
        624
      ],
      "id": "918eadd9-256b-4061-b8cc-0061a3cd26cb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        1328
      ],
      "id": "c4438367-3efd-4b04-ae7a-a1dd06e1d31f",
      "name": "Merge1",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3072,
        128
      ],
      "id": "18268f31-e329-4f86-907f-665adb0975e3",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2128,
        1328
      ],
      "id": "feeecb04-34b4-4e4a-b886-013d8a5c4fce",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75f8e189-a085-4dad-9650-bc8f10936fc0",
              "leftValue": "={{ Number($json.text.length) }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        1328
      ],
      "id": "04f93ae5-335a-4881-b2b2-74007cddfc3d",
      "name": "Menos que 10 caracteres"
    },
    {
      "parameters": {
        "content": "## TRATA IMAGENS\n",
        "height": 240,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1904,
        688
      ],
      "id": "6bd77148-c4c2-4a94-9b49-c1bd6853e36f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TRATA PDF\n",
        "height": 640,
        "width": 1504
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2176,
        1056
      ],
      "id": "cf0601c3-5907-4c0e-9954-259d4d99133f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b6a152ef-f1f0-47ca-bd32-db9737dff1ae",
              "leftValue": "={{ $json.Folder }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1856,
        256
      ],
      "id": "4d4f66fe-732f-4ec1-ba67-e849af83f79b",
      "name": "temPasta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        432
      ],
      "id": "d585e58b-5637-4ecc-af2a-1ed8f99866fc",
      "name": "PastaDiaExiste?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea5837ba-5aa9-42b0-bfda-da89345ec33e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        448
      ],
      "id": "036454ae-d3fc-4ee1-916b-8d1c047f9638",
      "name": "PastaDiaExiste?2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0250d2a-d792-4061-a12e-e16b7a22cb47",
              "name": "Nome",
              "value": "={{ $json.body.chat.name }}",
              "type": "string"
            },
            {
              "id": "ad1db2aa-736d-4164-9683-87654e150161",
              "name": "body.message.senderName",
              "value": "={{ $json.body.message.senderName }}",
              "type": "string"
            },
            {
              "id": "9c67e34d-811b-4ff2-87ad-6075a508463b",
              "name": "TipoDeMensagem",
              "value": "={{ $json.body.message.messageType }}",
              "type": "string"
            },
            {
              "id": "cb9a1539-beeb-407b-a17d-23985944eed0",
              "name": "body.message.content.URL",
              "value": "={{ $json.body.message.content.URL }}",
              "type": "string"
            },
            {
              "id": "1d589f28-545f-455a-995b-15fe80092f32",
              "name": "body.message.isGroup",
              "value": "={{ $json.body.message.isGroup }}",
              "type": "boolean"
            },
            {
              "id": "2fcecf85-6540-41a7-987f-bd25c45a5a8f",
              "name": "body.message.sender_pn",
              "value": "={{ $json.body.message.sender_pn ? $json.body.message.sender_pn.replace(/[^0-9]/g, '').slice(2) : null }}",
              "type": "string"
            },
            {
              "id": "2d522b05-d083-432a-af3e-292a2baf080a",
              "name": "body.message.text",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "4159e7cd-a733-47b5-8a3d-0786c19be8cd",
              "name": "body.message.chatid",
              "value": "={{ $json.body.message.chatid }}",
              "type": "string"
            },
            {
              "id": "b9b4a916-acb6-4032-be80-0bdd78b1033f",
              "name": "body.message.messageid",
              "value": "={{ $json.body.message.messageid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        -640
      ],
      "id": "58174c50-92b5-4c4d-98bc-9adaa7f9448b",
      "name": "Dados de Entrada"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('AI Agent').item.json.output.ANO }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('encontraControle').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        672
      ],
      "id": "5acd9ed9-27bb-4396-9e1b-554940bd1a73",
      "name": "Cria Pasta Ano",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('AI Agent').item.json.output.MES }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1968,
        672
      ],
      "id": "b8bd4d4c-b653-4c16-9ef5-2808536dd22c",
      "name": "Cria Pasta Mes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('AI Agent').item.json.output.DATA }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2672,
        448
      ],
      "id": "b511ab3a-9edd-471e-a693-897f33f00381",
      "name": "Cria Pasta Dia",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ (new Date()).toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit' }).replace(/\\//g, '.') }} - {{ $('Dados de Entrada').item.json.Nome }} - (SALVADO POR IA)",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=12JepBiCyidTjZknzUgb8yVOFHZF-Q6Ro",
          "mode": "id"
        },
        "options": {
          "ocrLanguage": "pt-BR"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        1200
      ],
      "id": "a2852f48-e5a1-457a-8ca9-6a2351a72c2e",
      "name": "Upload file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        848,
        1184
      ],
      "id": "92d8fa18-ac23-483c-a33d-e1c12722f99a",
      "name": "Merge3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isGroup": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "ExisteGrupoTabela False",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipoMsg": {
      "main": [
        [],
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExisteGrupoTabela False": {
      "main": [
        [
          {
            "node": "Insere Novo Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere Novo Row": {
      "main": [
        [
          {
            "node": "DADOS USUÁRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "DADOS USUÁRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "encontraControle": {
      "main": [
        [
          {
            "node": "encontraAno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraAno": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraMês": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontraDia": {
      "main": [
        [
          {
            "node": "PastaDiaExiste?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Cria Pasta Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gerar JWT": {
      "main": [
        [
          {
            "node": "CriaTarefaOcr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadPdf": {
      "main": [
        [
          {
            "node": "ProcessPdfToOcr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProcessPdfToOcr": {
      "main": [
        [
          {
            "node": "DownloadPdfOcr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaTarefaOcr": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "UploadPdf",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadPdfOcr": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "encontraControle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DADOS USUÁRIO": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "temPasta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Menos que 10 caracteres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menos que 10 caracteres": {
      "main": [
        [
          {
            "node": "Gerar JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "temPasta": {
      "main": [
        [
          {
            "node": "tipoMsg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?1": {
      "main": [
        [
          {
            "node": "encontraDia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Pasta Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PastaDiaExiste?2": {
      "main": [
        [
          {
            "node": "encontraMês",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria Pasta Ano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados de Entrada": {
      "main": [
        [
          {
            "node": "isGroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Ano": {
      "main": [
        [
          {
            "node": "Cria Pasta Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Mes": {
      "main": [
        [
          {
            "node": "Cria Pasta Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Pasta Dia": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Upload file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kybernan-n8n-webhook.qdidmr.easypanel.host",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "3202",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "187.45.178.254",
            "x-forwarded-host": "kybernan-n8n-webhook.qdidmr.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c907cab5af03",
            "x-real-ip": "187.45.178.254"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://kybernan.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "ref8832bd85cb03",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/491875945_698624952979637_3766181487753972042_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3AGgJZwUyyFzX88Ej5fvJalNJ9st05jmm6gklGwZkpOmJA&oe=69369AA2&_nc_sid=5e03e0&_nc_cat=105",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "GRUPO TESTE AUTOMAÇÃO (IGNORAR)",
              "owner": "5519995586796",
              "phone": "",
              "wa_archived": false,
              "wa_chatid": "120363422750225374@g.us",
              "wa_contactName": "",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "5519995586796:120363422750225374",
              "wa_isBlocked": false,
              "wa_isGroup": true,
              "wa_isGroup_admin": true,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": true,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "137499217248386:72@lid",
              "wa_lastMessageTextVote": "",
              "wa_lastMessageType": "DocumentMessage",
              "wa_lastMsgTimestamp": 1764338100000,
              "wa_muteEndTime": 0,
              "wa_name": "GRUPO TESTE AUTOMAÇÃO (IGNORAR)",
              "wa_unreadCount": 4
            },
            "instanceName": "CelKybernan",
            "message": {
              "buttonOrListid": "",
              "chatid": "120363422750225374@g.us",
              "content": {
                "URL": "https://mmg.whatsapp.net/v/t62.7119-24/591495104_866686369202265_8346041651958416397_n.enc?ccb=11-4&oh=01_Q5Aa3AGLZMj3zm_su9bkWW3zEDuVtxdzupR3g9mZxCfPl-HAeQ&oe=69512232&_nc_sid=5e03e0&mms3=true",
                "mimetype": "application/pdf",
                "title": "arquivo (16).pdf",
                "fileSHA256": "ZwyKsoWe499zjrkJpBlkD2xkdneAVGwbbf6qQy09z9U=",
                "fileLength": 2610213,
                "pageCount": 1,
                "mediaKey": "snt7+imUZCR5tHwdbhEzAeQf113NklJd5o2l29IH7Qg=",
                "fileName": "arquivo (16).pdf",
                "fileEncSHA256": "LLMUpKbxLk3nx5o2PQN9TCW9wFX8EbJRvOcC9HZQg28=",
                "directPath": "/v/t62.7119-24/591495104_866686369202265_8346041651958416397_n.enc?ccb=11-4&oh=01_Q5Aa3AGLZMj3zm_su9bkWW3zEDuVtxdzupR3g9mZxCfPl-HAeQ&oe=69512232&_nc_sid=5e03e0",
                "mediaKeyTimestamp": 1764338097,
                "contextInfo": {
                  "expiration": 0
                },
                "caption": ""
              },
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "",
              "id": "5519995586796:3FA04E43F81B26AE9D39",
              "isGroup": true,
              "mediaType": "document",
              "messageTimestamp": 1764338100000,
              "messageType": "DocumentMessage",
              "messageid": "3FA04E43F81B26AE9D39",
              "owner": "5519995586796",
              "quoted": "",
              "reaction": "",
              "sender": "137499217248386:72@lid",
              "senderName": "Bruno P Ferreira",
              "sender_lid": "137499217248386@lid",
              "sender_pn": "553499969911@s.whatsapp.net",
              "source": "unknown",
              "status": "",
              "text": "",
              "track_id": "",
              "track_source": "",
              "type": "media",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "5519995586796",
            "token": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
          },
          "webhookUrl": "https://kybernan-n8n-webhook.qdidmr.easypanel.host/webhook/6ff257a0-6494-492b-af31-5214a9bd20a1",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "c6779f19-cd5d-484b-9d1c-63622cec325d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-26T10:17:15.840Z",
      "createdAt": "2025-11-26T10:17:15.840Z",
      "role": "workflow:owner",
      "workflowId": "xbiM1JT5KjJBCrxu",
      "projectId": "72MghKyBe7pL4bex"
    }
  ],
  "tags": []
}