kybernan/xbiM1JT5KjJBCrxu.json
{
  "updatedAt": "2025-11-27T02:45:11.349Z",
  "createdAt": "2025-11-26T10:17:15.840Z",
  "id": "xbiM1JT5KjJBCrxu",
  "name": "ARQUIVADOR",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6ff257a0-6494-492b-af31-5214a9bd20a1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -368
      ],
      "id": "02e65664-256c-4dbb-9aca-7f8cb2fe9832",
      "name": "Webhook",
      "webhookId": "6ff257a0-6494-492b-af31-5214a9bd20a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kybernan.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "token",
              "value": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.body.message.messageid }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            },
            {
              "name": "generate_mp3",
              "value": "false"
            },
            {
              "name": "transcribe",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -48
      ],
      "id": "6a7c8b26-557d-4f4c-b34c-749d0138b3ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64Data",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        672,
        176
      ],
      "id": "605d6c75-c61b-4cd4-a142-6f8b7a00fbae",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16ffaaef-fe33-426d-a0ff-e2dac2b106e9",
              "leftValue": "={{ $json.body.message.isGroup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        -368
      ],
      "id": "27f5f0f3-677b-404d-b04a-fd415490c8e0",
      "name": "isGroup"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d8f7b82-de27-4f28-afe4-9f073754da5b",
                    "leftValue": "={{ $json.body.message.messageType }}",
                    "rightValue": "ExtendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ExtendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.messageType }}",
                    "rightValue": "AudioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9de78c4-def0-4385-92ae-f3d8db4668ef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AudioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dc571f3-1d8c-4784-8cfa-d29f807666f7",
                    "leftValue": "={{ $json.body.message.messageType }}",
                    "rightValue": "ImageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ImageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a88511a-7a3c-442d-bad5-fc9aa48d5a18",
                    "leftValue": "={{ $json.body.message.messageType }}",
                    "rightValue": "DocumentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DocumentMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e75be5f-38f7-4db9-8ebe-c2f0e4580de1",
                    "leftValue": "={{ $json.body.message.messageType }}",
                    "rightValue": "=Conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        656,
        -368
      ],
      "id": "271e1181-ddcd-4143-a6a6-79e35c53c17b",
      "name": "tipoMsg"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "IdGroup",
              "keyValue": "={{ $json.body.chat.wa_chatid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        656,
        -832
      ],
      "id": "e7150fda-84b5-4a1d-ace4-d2d974f070a7",
      "name": "ExisteGrupoTabela False"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "IdGroup",
              "keyValue": "={{ $json.body.chat.wa_chatid }}"
            },
            {
              "keyName": "phone1",
              "keyValue": "={{ $json.body.chat.phone }}"
            },
            {
              "keyName": "phone2",
              "keyValue": "={{ $json.body.chat.phone }}"
            },
            {
              "keyName": "phone3",
              "keyValue": "={{ $json.body.chat.phone }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        640,
        -624
      ],
      "id": "c4e81850-1e79-4f18-89b6-c46f34c3aaa3",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "TvERETBAGi000bZb",
          "mode": "list",
          "cachedResultName": "DadosClienteKybernan",
          "cachedResultUrl": "/projects/72MghKyBe7pL4bex/datatables/TvERETBAGi000bZb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdGroup": "={{ $json.body.message.chatid }}",
            "NomeGrupo": "={{ $('Webhook').item.json.body.chat.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NomeGrupo",
              "displayName": "NomeGrupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IdGroup",
              "displayName": "IdGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone1",
              "displayName": "phone1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone2",
              "displayName": "phone2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone3",
              "displayName": "phone3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Folder",
              "displayName": "Folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apiERP",
              "displayName": "apiERP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ERP",
              "displayName": "ERP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        848,
        -832
      ],
      "id": "fbb4a44a-71e6-4f63-a7f9-95e9c4c308e6",
      "name": "Insere Novo Row"
    },
    {
      "parameters": {
        "content": "## BANCO DE DADOS\n\ntratamento de BD para identificar usuário e pasta correta, etc..\n",
        "height": 496,
        "width": 448,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -944
      ],
      "id": "e2b4180f-4460-443c-a34d-979ffd64ab8b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d48431-6205-4d71-9d24-346dfe880a25",
              "name": "IdGroup",
              "value": "={{ $json.IdGroup }}",
              "type": "string"
            },
            {
              "id": "46b09227-842e-44df-95f7-4819cc47f958",
              "name": "phone1",
              "value": "={{ $json.phone1 }}",
              "type": "string"
            },
            {
              "id": "91d9c47f-3e9a-4344-86e6-f5124490957f",
              "name": "phone2",
              "value": "={{ $json.phone2 }}",
              "type": "string"
            },
            {
              "id": "0c9bc12c-ca1e-4f6c-ba7b-c33a6fa84fe6",
              "name": "phone3",
              "value": "={{ $json.phone3 }}",
              "type": "string"
            },
            {
              "id": "4b1803fd-3a6e-463d-b63e-8b37605cdc9e",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a8310a6c-4a6f-4151-878f-edf87ef8f06e",
              "name": "Folder",
              "value": "={{ $json.Folder }}",
              "type": "string"
            },
            {
              "id": "f6f759e7-b7cf-4081-93d3-362cf3b2ffd8",
              "name": "apiERP",
              "value": "={{ $json.apiERP }}",
              "type": "string"
            },
            {
              "id": "61b97bff-04e1-4870-8c6e-0286ac545ed1",
              "name": "ERP",
              "value": "={{ $json.ERP }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -624
      ],
      "id": "c7008e17-9448-4747-8b4e-a3e3692e6e56",
      "name": "DADOS USUÁRIO"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1616,
        -64
      ],
      "id": "1010d14a-d38e-483b-919f-bd5ecbac51d4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fRrIyxCKgTlReSWb",
          "name": "Kybernan-Arquivador"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1664,
        -288
      ],
      "id": "540f9784-0ee5-45f7-ae29-bd959be4ae37",
      "name": "pix?"
    },
    {
      "parameters": {
        "content": "## BUFFER PIX TEXTO E IMAGEM\n",
        "height": 96
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -368
      ],
      "id": "06543081-c9e4-49d2-a117-5877a2ea7524",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## FALLBACK PERGUNTANDO ONDE ARQUIVAR QUANDO DER PROBLEMA\n\n",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -224
      ],
      "id": "2c0078d6-d8f4-41c1-9c93-ba1f7b772383",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "name": "teste",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1pHJKSMiWUuozZZKVIiP6Izt3inkppFny",
          "mode": "id"
        },
        "options": {
          "ocrLanguage": "pt"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        112
      ],
      "id": "0c40d983-5d6b-49c9-8008-77dae0f542bc",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.folder"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1760,
        192
      ],
      "id": "1e6fe8d4-b64d-4284-b81a-f26fc17e50b4",
      "name": "HTTP Request1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "01 - JAN",
        "returnAll": true,
        "filter": {
          "folderId": {
            "mode": "list",
            "value": "root",
            "cachedResultName": "/ (Root folder)"
          },
          "whatToSearch": "folders"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        176
      ],
      "id": "7288f54b-101a-47c9-8c92-38005813c165",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tHbNUSv81dsDoIWb",
          "name": "Kybernan-BPO"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "isGroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isGroup": {
      "main": [
        [
          {
            "node": "tipoMsg",
            "type": "main",
            "index": 0
          },
          {
            "node": "ExisteGrupoTabela False",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "tipoMsg",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipoMsg": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "ExisteGrupoTabela False": {
      "main": [
        [
          {
            "node": "Insere Novo Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere Novo Row": {
      "main": [
        [
          {
            "node": "DADOS USUÁRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "DADOS USUÁRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "pix?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "Search files and folders": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kybernan-n8n-webhook.qdidmr.easypanel.host",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2456",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "187.45.178.254",
            "x-forwarded-host": "kybernan-n8n-webhook.qdidmr.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "fa4cd14fb27e",
            "x-real-ip": "187.45.178.254"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://kybernan.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "r05f4051753580a",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/549351847_1539700660385093_2114147981921870226_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3AElYVn7RzT9UAdE-zbqlWkqgdx7RVQ-mXlx9bqc01FcHQ&oe=6933F9B4&_nc_sid=5e03e0&_nc_cat=106",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "RECANTO DO LAGO - BPO/KY",
              "owner": "5519995586796",
              "phone": "",
              "wa_archived": false,
              "wa_chatid": "120363388861527002@g.us",
              "wa_contactName": "",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "5519995586796:120363388861527002",
              "wa_isBlocked": false,
              "wa_isGroup": true,
              "wa_isGroup_admin": true,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": true,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "265768348459066@lid",
              "wa_lastMessageTextVote": "Bom dia pode sim",
              "wa_lastMessageType": "Conversation",
              "wa_lastMsgTimestamp": 1764164497000,
              "wa_muteEndTime": 0,
              "wa_name": "RECANTO DO LAGO - BPO/KY",
              "wa_unreadCount": 58
            },
            "instanceName": "CelKybernan",
            "message": {
              "buttonOrListid": "",
              "chatid": "120363388861527002@g.us",
              "content": "Bom dia pode sim",
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "RECANTO DO LAGO - BPO/KY",
              "id": "5519995586796:3A73F1195FB42EB43E12",
              "isGroup": true,
              "mediaType": "",
              "messageTimestamp": 1764164497000,
              "messageType": "Conversation",
              "messageid": "3A73F1195FB42EB43E12",
              "owner": "5519995586796",
              "quoted": "",
              "reaction": "",
              "sender": "265768348459066@lid",
              "senderName": "Nataliana Deus é Incrivel",
              "sender_lid": "265768348459066@lid",
              "sender_pn": "5519996951885@s.whatsapp.net",
              "source": "ios",
              "status": "",
              "text": "Bom dia pode sim",
              "track_id": "",
              "track_source": "",
              "type": "text",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "5519995586796",
            "token": "4d8e979d-0339-417a-89c6-9e56bc0cead7"
          },
          "webhookUrl": "https://kybernan-n8n-webhook.qdidmr.easypanel.host/webhook/6ff257a0-6494-492b-af31-5214a9bd20a1",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "f5724850-ff60-4ea8-b975-cbdde92ee02a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-26T10:17:15.840Z",
      "createdAt": "2025-11-26T10:17:15.840Z",
      "role": "workflow:owner",
      "workflowId": "xbiM1JT5KjJBCrxu",
      "projectId": "72MghKyBe7pL4bex"
    }
  ],
  "tags": []
}